<div class="card border-primary mb-3" style="width: 80%; position: absolute; left:10%;">
  <div class="card-header">Listado de estudiantes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Estudiantes</h5>
    <p class="card-text"></p>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>id</th>
      <th>nombre</th>
      <th>apellido</th>
      <th>cedula</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor= "let estudiante of estudiantes">
      <td>{{estudiante.id}}</td>
      <td>{{estudiante.nombre}}</td>
      <td>{{estudiante.apellido}}</td>
      <td>{{estudiante.cedula}}</td>
      <td>
         <button type="button" [routerLink]="['/estudiantes/form', estudiante.id]" name="Editar" class="btn btn-primary btn-sm">Editar</button>
      </td>
      <td>
        <button type="button"  name="Eliminar" (click)="delete(estudiante)" class="btn btn-danger btn-sm">Eliminar</button>
      </td>

    </tr>

      <button type="button" [routerLink]="['/estudiantes/form']" name="Crear" class="btn btn-primary btn-sm">Crear</button>

    </tbody>
  </table>
</div>
